.footerContainer {
    background-color: #5b8883;
    border-top: 2px solid rgba(0, 0, 0, 0.27);
    display: flex;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}